body { 	background: #D09BC7;
        color: black;
		font-size: 16pt;
		font-family: Arial;
		text-align:left;
	}
h1{
			font-size: 26pt;
			font-family: "Comic Sans MS";
			font-weight: bold;
			
			margin-top: 30px;
			margin-bottom: 20px; 
		}
.table {text-align: center; font-size: 14pt;font-family: Arial; 
			}

.bold {font-weight:bold;font-size:34px;}




